.form-order__field {
  margin: 0 0 20px 0;
}

.form-order__field input {
  width: 100%;
  height: 48px;
  border-radius: 6px;
  border: 1px solid #c9ccd4;
  padding: 14px 29px 10px;
  font-size: 15px;
  line-height: 24px;

  &:hover {
    border: 3px solid $greenColor;
    padding: 14px 27px 10px;
  }

  &::placeholder {
    font-family: "OpenSans", "Arial", sans-serif;
    font-size: 15px;
    line-height: 24px;
    color: rgba(#1c1c1c, 0.5);
  }

  @media(max-width: $tablet) {
    padding: 14px 21px 10px;
  }

  @media(max-width: $mobile) {
    padding: 14px 26px 10px;
  }
}

.form-order__field--error input {
  border: 2px solid red;
}

.form-order__button {
  border: none;
  background-color: $greenColor;
  font-weight: 600;
  font-size: 15px;
  line-height: 21px;
  letter-spacing: 0px;
  width: 100%;
  height: 51px;
  border-radius: 6px;
  cursor: pointer;

  &:hover {
    color: $whiteColor;
    background-color:#46C1AE;
  }

  &:active {
    color: $whiteColor;
    background-color: rgba(#46C1AE, 0.6);
  }
}
