.video {
  background-color: #131314;
  min-height: 706px;
  padding: 0 0 248px 0;
  // position: relative;

  @media (max-width: $tablet) {
    min-height: 413px;
  }

  @media (max-width: $mobile) {
    min-height: 384px;
  }
}

.video__body {
  padding: 120px 0 0;

  @media (max-width: $tablet) {
    padding: 70px 0 0;
  }

  @media (max-width: $mobile) {
    padding: 84px 0 0;
  }
}

.video__body h2{
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  color: $whiteColor;
  margin: 0 0 20px 0;

  @media (max-width: $tablet) {
    font-size: 24px;
    line-height: 30px;
  }
}

.video__body p{
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: rgba($whiteColor, 0.7);
  margin: 0 auto;
  width: 340px;
  text-align: center;
  padding: 0 0 56px 0;

  @media (max-width: $tablet) {
    width: 430px;
  }

  @media (max-width: $mobile) {
    width: auto;
    font-size: 16px;
    line-height: 28px;
  }
}

.video__content-body {
  position: relative;
}

.video__content img {
  object-fit: cover;
  display: block;
  max-width: 929px;
  max-height: 522px;

  @media (max-width: $tablet) {
    max-width: 503px;
    max-height: 282px;
  }

  @media (max-width: $mobile) {
    max-width: 288px;
    max-height: 100%;
  }
}

.video__content {
  position: absolute;
  width: 929px;
  height: 522px;
  background-color: #000000;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: $greyColor;

  @media (max-width: $tablet) {
    width: 503px;
    height: 282px;
    bottom: -85px;
  }

  @media (max-width: $mobile) {
    width: 288px;
    height: 162px;
    bottom: -50px;
  }
}

.video__button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  background-color: transparent;
  cursor: pointer;

  &:hover svg {
    width: 75px;
    height: 75px;
  }

  &:active svg {
    width: 75px;
    height: 75px;
    opacity: 0.8;
  }

  @media (max-width: $tablet) {
    & svg {
      width: 90px;
      height: 90px;
    }

    &:hover svg {
      width: 100px;
      height: 100px;
    }
  }

  @media (max-width: $mobile) {
    & svg {
      width: 65px;
      height: 65px;
    }

    &:hover svg {
      width: 75px;
      height: 75px;
    }
  }
}
